* {box-sizing: border-box;}
body {font-family: Arial, sans-serif;
	font-size:14pt;}
/*phần Header*/
.header {display:flex;
		align-items: center;
		background-color:blue;
		height:160px;}
		
.header img {float: left;
			width:100px;
			margin-left:60px;}
				
.header h1 {color: white;
			width:100%;
			text-align:center;
			font-size:35pt;
			text-shadow: 4px 4px 8px #000000;}
/*phần menu nav*/
.nav {overflow: hidden;
     background-color: #db2458;
     height: 45px;}
.nav ul {list-style-type: none;
         margin:0px;
         padding:0px;
		 display: flex;}
.nav a {float: left;
         display: block;
		 color: white;
		 text-align: centerr;
		 padding: 14px 10px;
         text-decoration: none;}
.nav a:hover {background-color:white;
         color:#db2458;}
/*phần footer*/
.footer {background-color:blue;
         padding: 10px 0;
		 width:100%;
		 display: flex;
		 justify-content: space-around;
         align-items:center;}
.footer p {margin-left: 100px;
            color:white;}
.footer img {width:90px;}
  
/*Phần Nội dung chính/Content*/
.content {display: flex; 
	flex-grow: 1;
	justify-content: space-around;
	padding: 10px;}
/*Phần Cột 1*/
.col1 {width:25%;background-color:#f1f1f1;
     flex-direction: column;
	 display: flex;
	 align-items: center;}
.gallery { 
    margin: 5px;
	border: 1px solid #ccc;
	float: left;
width: 180px;}
.gallery:hover { border: 1px solid #777}
.gallery img { width: 100%;
height:auto;}
.desc { padding: 15px;
text-align: center;}



/*Phần Cột 2*/
.col2 {width:50%; padding:16px;}
.col2 img {float:right;width:350px;
			padding-left: 16px;}
.col2 h3 {text-align:center; 
			color:tomato;}
.col2 p {text-align:justify;
			font-size:14pt; 
			line-height:1.5;}
.dropcap {float:left;
			font-size: 60pt;
			color: green;
			line-height: 40px;}


/*Phần Cột 3*/
.col3 {width:25%;
	   background-color:#f1f1f1;
	   display: flex;
	   flex-direction: column;
	   align-items: center;}
	   
/*Phần Footer*/
.footer {background-color:blue;
		 padding: 10px 0px;
		 width: 100%;
		 display: flex;
		 justify-content: space-around;
		 align-items: center;}
.footer p {margin-left: 100px;
		font-size: 10pt;
		color:white;}
.footer img {width:90px;}